$browser-context: 16;

// ---- DEFAULTS -------------------------------------->

$primary-color:   #70519E;
$accent-color:    #EC2685;
$text-color:      rgba(0,0,0,0.87);
$secondary-color: rgba(0,0,0,0.54);
$icon-color:      rgba(0,0,0,0.54);
$disable-color:   rgba(0,0,0,0.38);
$hint-color:      rgba(0,0,0,0.38);
$label-color:     rgba(0,0,0,0.38);
$divider-color:   rgba(0,0,0,0.12);

// Gutters
$gutter-xs: 1em;
$gutter-xs-px: 16px;
$gutter-md: 1.5em;
$gutter-md-px: 24px;

// Navbar
$navbar-height: 5rem;

// Aside-Menu
$aside-width: 18rem;


// ---- BREAKPOINTS -------------------------------------->
$breakpoint-xs: 0;
$breakpoint-sm: 34em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
) !default;

$screen-xs: "(min-width: #{$breakpoint-xs})";
$screen-sm: "(min-width: #{$breakpoint-sm})";
$screen-md: "(min-width: #{$breakpoint-md})";
$screen-lg: "(min-width: #{$breakpoint-lg})";
$screen-xl: "(min-width: #{$breakpoint-xl})";

// ---- COLORS ---------------------------------------->
$colors: (
  primary: (
      default: $primary-color
    , light: lighten($primary-color, 10%)
    , dark : darken($primary-color, 10%)
    , transparent: transparentize($primary-color, 0.5)
  ),
  accent: (
      default: $accent-color
    , light: lighten($accent-color, 10%)
    , dark : darken($accent-color, 10%)
    , transparent: transparentize($accent-color, 0.5)
  )
  , text      : $text-color
  , secondary : $secondary-color
  , icon      : $icon-color
  , disable   : $disable-color
  , hint      : $hint-color
  , label     : $label-color
  , divider   : $divider-color
);

// ---- AU-NAV ---------------------------------------->

/* au-nav */
$nav-tabs--bg: transparent;
$nav-tabs--color: $text-color;
$nav-tabs-active--bg: $primary-color;
$nav-tabs-active--color: white;
$nav-tabs-active--boxShadow: 0px 4px 2px -1px rgba(217,217,217,1);

$nav-tabs-tag--bg: rgb(239,103,168);
$nav-tabs-tag--color: white;
$nav-tabs-tag--radius: 2px;
$nav-tabs-tag--radius: 2px;

$nav-tabs-active-tag--bg: rgb(255,255,255);
$nav-tabs-active-tag--color:rgb(239,103,168);



// ---- DEFAULTS -------------------------------------->
