%page-title {
  color: $primary-color;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 16px 0;
}

%section-title {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 300;
  margin: 0;
  position: relative;
}

%card-heading {
  font-size: 1rem;
  line-height: 2;
  font-weight: 500;
  margin: 0;
  position: relative;
}


//---------------------------------------------------------- CARD TREE STRUCTURE

section.au-card {
  header.card-title {
    h1 {} // card-title
    h3 {} // card-heading
    span[version-select] {} //card-version
  }

  article.card-body {
    h3 {} // card-sub-heading
    div.card-text {} // card-description
    h4 {} // card-list-heading
    ul.card-list {// card-list
      li { // list-item
        span[item-title] {} // item-title
        span[item-body] {} // item-title
      }
    }
  }
}

au-card {
  @extend %flexbox;
  @include flex(1 0 auto);
  @include flex-column;
  background-color: white;
  position: relative;
  border: $card-border;
  overflow: hidden;
  max-height: 100%;
  margin-bottom: $gutter-xs;
  border-radius: $card-radius;

  > * {
    background-color: white;
  }

  [description] {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2;
  }

  div[description], span[description] {
    opacity: 0.5;
  }

  [author] {
    font-size: 18px;
    font-weight: normal;
    color: $accent-color;
    text-align: center;
  }

  h1,h2,h3,h4,h5,h6 {
    margin:0;
    @include gutter(margin, bottom);
  }

  > blockquote,
  > article > blockquote {
    position: relative;
    background-color: white;
    @include gutter($type:padding, $sides: top bottom);
    @include gutter($type:margin, $sides: left right);
    margin-top:0;
    margin-bottom:0;

    > h2, h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      padding-bottom: 8px;
      @include flex(1 0 auto);
    }
  }

  article {
    &:first-child {
      @include gutter($sides: top bottom left right);
    }
    &:not(:first-child) {
      @include gutter($sides: bottom left right);
    }

    > blockquote {
      margin: 0 0 8px 0;
      @include gutter($type:padding, $sides:bottom);
    }
  }

  ul.inline-list  {
    padding:0;
  }

  li {
    margin-bottom: 8px;
  }

  p {
    margin: 0;
  }
  span[value-type] {
    color: #777;
  }
  span[args] {
    color: $primary-color;
    opacity: 0.7;
  }

  span[args]:not(:last-child) {
    &:after {
      content:", ";
      display: inline-block;
      margin-right: 8px;
    }
  }
}

au-card[title-card] {
  header {
    @include flex-wrap(wrap);
    background-color: #f7f7f7;
    min-height: $card-header-height;
    position: relative;

    &:after {
      @include border-bottom;
    }
  }

  h1 {
    @extend %page-title;
    @include flex(1 0 auto);
    padding-left: $half-gutter-xs;
  }

  span.card-control {
    @extend %flexbox;
    @include flex-items(center);
    @include justify-content(center);
    position: relative;
    padding: 0 $gutter-xs $gutter-xs;
    @include media-md {
      top:0;
      right:0;
      min-height: 100%;
      padding-bottom: 0;
      position: absolute;
    }
  }
}

au-card[variable-card] {
  blockquote {
    h2  {
      color: $accent-color;
      font-weight: bold;
      line-height: 1;
      font-size: 16px;
      @include media-md {font-size: 20px}

      span[value-type] {
        color: #777;
      }
    }
  }
}

au-card[function-card] {
  blockquote {
    h2 {
      color: $accent-color;
      font-weight: bold;
      line-height: 1;
      font-size: 16px;
      @include media-md {font-size: 20px}
    }
  }
}

@include browser(safari) {
  section.au-card.title-card {
    header {
      @include flex-direction(column);

      span.card-control {
        position: relative;
        min-width: 100%;
      }
    }
  }
}

section.au-card + h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin: $half-gutter-xs 0 $half-gutter-xs 0;
}


@include media-md {

  section.au-card {
    margin-bottom: $gutter-md;
    border-radius: $card-radius;

    header {
      padding: 0 $gutter-md;
      span.card-control {
        right: 0;
        top: 0;
        position: absolute;
        min-width: 0;
        padding: 0 $gutter-xs;
      }
    }

    blockquote {
      padding: $gutter-md $gutter-md 0;
    }


    article {
      padding-top: 8px;
      padding-bottom: $gutter-md;

      &:not([gutter]) {
        padding-left: $gutter-md;
        padding-right: $gutter-md;
      }
      > *:not(:last-child) {
        margin-bottom: $half-gutter-md;
      }
    }
  }

  section.au-card + h1 {
    margin-bottom: $half-gutter-md;
  }
}
