button.au-button,
a.au-button {
  @include au-button(default);
  @include default-transition;
  @include translate3d(0,0,0);
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  margin: 0 2px;
}

.au-button:hover {
  @include au-button(hover);
  background: #7d519e;
  color: white;
}

.au-reference-list {
  ul {
    margin-left: 24px;
    font-size: 14px;
    line-height: 26px;
    margin-left: 0;
    list-style: initial;

    a {
      font-family: consolas;
      font-size: 14px;
      color: #ef67a8;
      text-decoration: underline;
    }

    li {
      padding-left: 6px;
    }
    &.no-bullet {
      list-style-type:none
    }
  }
}

au-tag {
  @include flex(0 1 auto);
  @include flex-self(center);
  display: inline-block;
  color: rgb(128,128,128);
  background: white;
  border: 1px solid $divider-color;
  border-radius: $default-radius;
  // -webkit-box-shadow: 0px 1px 3px 0px #dadada;
  // -moz-box-shadow: 0px 1px 3px 0px #dadada;
  // box-shadow: 0px 1px 1px 0px #dadada;
  font-size: 10px;
  padding: 2px 7px;
  line-height: 1.5;
  margin: 0 5px;
  // vertical-align: middle;
  // position: relative;
  // top: -12px;
}

ul.stack-list {
  font-size: 1em;
  line-height: 1.5;
  margin-left: 0;
  list-style: initial;

  li a {
    font-weight: 300;
    font-size: 1em;
  }

  &[no-bullet] {list-style-type:none}

  &[underline] {
    li a {text-decoration: underline}
  }

  &[source-code] {
    li a  {
      @extend %source-code;
    }
  }
}
ul.inline-list {// -----------------------------------------  ul.inline-list
  @extend %flexbox;
  @include flex(1);
  @include flex-items(center);

  min-width: 100%;
  list-style: none;
  margin: $half-gutter-xs 0;

  li {
    @extend %inline-flex;
    @include flex(0 1 auto);
    margin: 0 2px;
  }

  li[list-heading] {
    font-weight: 800;
    opacity: 0.5;
    font-size: 0.9em;

    &:after {
      @include flex(1);
      content: ": ";
      display: flex;
    }
  }

  li[list-item] {
    font-size: 0.8em;
    &:not(:last-child):after {
      @include flex(1);
      content: ", ";
      display: flex;
    }
  }
}


[gutter] {
  padding: 0 $gutter-xs-px !important;
}

[half-gutter] {
  padding: 0 ($gutter-xs-px / 2) !important;
}


[gutter="2x"] {
  padding: 0 ($gutter-xs-px * 2) !important;
}

@include media-md {
  ul.inline-list {
    margin: $half-gutter-md 0 !important;
  }

  [gutter] {
    padding: 0 $gutter-md-px !important;
  }

  [half-gutter] {
    padding: 0 ($gutter-md-px / 2) !important;
  }


  [gutter="2x"] {
    padding: 0 ($gutter-md-px * 2) !important;
  }
}

