@import 'sassdash';
@import 'bourbon';
@import 'neat';
@import 'stylesheets/_variables';
@import 'stylesheets/_function';
@import 'stylesheets/_mixin';
@import 'stylesheets/_elements';
@import 'stylesheets/mixins/_select-list';
@import 'stylesheets/mixins/_aside';
@import 'stylesheets/mixins/_layout';
@import 'stylesheets/mixins/_navbar';
@import 'stylesheets/mixins/_page';
@import 'stylesheets/util/_icons';
@import 'stylesheets/_auicon';
@import 'stylesheets/mixins/_settings-button';;
/////////////////////////////////////////////////////////////////////////////////////////////////////
///                                                                                               ///
///                                           AU LAYOUT                                           ///
///                                                                                               ///
/////////////////////////////////////////////////////////////////////////////////////////////////////

[color="accent"] {color: $accent-color;}

[color="primary"] {color: $primary-color;}

[color="primary-dark"] {color: color-primary(dark);}

[font="code"] {@extend %source-code;}

[font="sans"] {@extend %source-sans;}
[comment] {@extend %source-code;}

[trans="3"] {opacity: 0.3}
[trans="6"] {opacity: 0.6}
[trans="9"] {opacity: 0.9}


@font-face {
 font-family: $aucons-font-family;
 src:url("#{$aucons-font-path}aicons.eot?v=#{$aucons-version}");
 src:url("#{$aucons-font-path}aicons.eot?v=#{$aucons-version}#iefix") format("embedded-opentype"),
  url("#{$aucons-font-path}aicons.ttf?v=#{$aucons-version}") format("truetype"),
  url("#{$aucons-font-path}aicons.woff?v=#{$aucons-version}") format("woff"),
  url("#{$aucons-font-path}aicons.svg?v=#{$aucons-version}#Ionicons") format("svg");
 font-weight: normal;
 font-style: normal;
}


au-icon.au-icon i:before,
au-icon i:before {
  @extend %icon-style;
}

au-icon,
au-icon.au-icon i,
au-icon.au-icon i:before {
  font-family: $aucons-font-family;
}


au-icon.au-icon {
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2em;
  width: 2em;
  position: relative;
  @include align-items(center);


  &[icon-auto] {@include size(auto)}
  &[icon-2x] {@include size(2em)}
  &[icon-3x] {@include size(3em)}
  &[icon-4x] {@include size(4em)}

  &[size-2x] {font-size: 2em}
  &[size-3x] {font-size: 3em}
  &[size-4x] {font-size: 4em}

  &[fit] {@include size(100%)}
  &[fit-x] {width:100%}
  &[fit-y] {height:100%}

  &[align-left] {@include justify-content(flex-start)}
  &[align-right] {@include justify-content(flex-end)}
  &[align-center] {@include justify-content(center)}
  &[align-top] {@include align-items(flex-start)}
  &[align-middle] {@include align-items(center)}
  &[align-bottom] {@include align-items(flex-end)}
}



html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}

body {// --------------------------------------------------- Layout
  @extend %column-container;
  @include Layout();

  &.active-navigation-aside,
  &.active-navigation-settings-button {
    nav.au-navbar,
    main.page-host {
      -webkit-filter: blur(10px);
         -moz-filter: blur(10px);
              filter: blur(10px);
    }
  }
}

@include media-xs {// --------------------------------------  @MEDIA XS
  body {
    header.au-header > nav.au-navbar {
      @include au-navbar(xs);
    }

    au-aside.au-aside {
      @include au-aside(xs);
    }
  }
}

@include max-media-xs {// ----------------------------------  @MEDIA MAX-MD

  body {// -----------------------------------------------  @MEDIA MAX-MD: Layout
    @extend %column-container;
    @include Layout-xs();

    header.au-header > nav.au-navbar {
      @include au-navbar(max-xs);
    }

    au-aside {
      @include au-aside(max-xs);
    }

    main router-view.main-view-port {// --------------------  @media MAX-MD: router-view.main-view-port
      @include align-content(flex-end);
      @include default-transition;
      overflow:visible;
    }
  }
}

@include media-md {// --------------------------------------  @MEDIA MD

  body {// -------------------------------------------------  @MEDIA MAX-MD: Layout
    @extend %column-container;
    @include Layout-md();

    header.au-header > nav.au-navbar{// --------------------  @MEDIA MD: nav.au-navbar
      @include au-navbar(md);
    }

    au-aside.au-aside {//---------------------------------  @MEDIA MD:  nav.au-tabs
      @include au-aside(md);
    }

    main.page-host au-view.content {//----------------------  @MEDIA MD:  au-view.content
      padding: $gutter-md;
    }
  }
}


loading-indicator {
  display: block;
  position: absolute;
  min-width: 100%;
  top: $navbar-height;
}
#nprogress .bar {position: absolute !important;}
